body {
    background-color: powderblue;
  }
h1 {
    color: rgb(179, 0, 255);
  }
  p {
    color: rgb(255, 0, 106);
  }

  body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 16px;
  }

  .container {
    display: flex;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
  }